<div class="container container-margin">
  <!-- <p>
    mark-attendance works!
  </p> -->
  
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Emp No</th>
            <th>Emp Name</th>
            <th>Email</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Leaves</th>
            <th>Calculate</th>
            <th>Attendance</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let employee of employeeList">
            <td>{{employee.empID}}</td>
            <td><a [routerLink]="['/empdetails',employee.empID]">{{employee.firstName}} {{employee.lastName}}</a></td>
            <td>{{employee.email}}</td>
            <td>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker1" placeholder="Choose start date" 
                  (dateInput) = "getDate('startDate',employee.empID, $event)">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </td>
            <!-- <td>
                <input type="checkbox" (focus)= "onCheck($event, employee.empIDs)" value="Present">Present
            </td> -->
            <td>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker2" placeholder="Choose end date" 
                  (dateInput) = "getDate('endDate',employee.empID, $event)">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input matInput type="number" (change)="getLeaves($event,employee.empID)">
              </mat-form-field>
            </td>
            <td>
              <button class="btn btn-primary" mat-raised-button (click)="calculateAttendance(employee.empID)">Calculate</button>
            </td>
            
            <td>
              <label>{{employee.attendance}}</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button class="btn btn-primary" (click)="onSave()">Save</button>
</div>
<div>
  {{startDate}} - {{endDate}}
</div>
<router-outlet></router-outlet>
  